main {
  max-width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}
iframe {
  height: auto;
  max-width: 500px;
}
.hero-image {
  width: 100%;
  position: relative;
}
.hero-image img {
  height: auto;
  max-width: min (80%, 720px);
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}
.title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(128, 128, 128, 0.7);
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1em 2em;
  border-radius: 12px;
  text-align: center;
}
.prose {
  width: autopx;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 1em;
  /* color: rgb(var(--gray-dark)); */
}
.title {
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: center;
  line-height: 1;
}
.title h1 {
  margin: 0 0 0.5em 0;
}
.date {
  margin-bottom: 0.5em;
  /* color: rgb(var(--gray)); */
}
.last-updated-on {
  font-style: italic;
}
.container {
  display: grid;
  grid-template-columns: auto 20%;
}

@media (max-width: 500px) {
  .container {
    display: block;
    grid-template-columns: none;
  }
}
.prose {
  max-width: 100%;
  margin: 0 auto;
}
