/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --black: 15, 18, 25;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* margin: 0.5rem 0 0.5rem 0; */
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
  margin-top: 1em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1em;
}

pre {
  width: 100%;
  /* max-width: 720px; */
  padding: 1.5em;
  border-radius: 8px;
  overflow-x: auto;
  margin-bottom: 1em;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

ul,
ol {
  list-style: disc; /* or 'decimal' for ordered lists */
  margin: 0 0 1em 2em; /* Adds margin to separate lists from other content */
  padding: 0; /* Resets padding if necessary */
}

ul {
  list-style-type: disc; /* Default bullet style for unordered lists */
}

ol {
  list-style-type: decimal; /* Default number style for ordered lists */
}

blockquote {
  border-left: 4px solid;
  font-style: italic;
  font-size: 1em;
}

/* pre { */
/*   @apply rounded-md pl-8; */
/* } */

.prose p {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 1em;
}

a {
  text-decoration: underline;
}

table {
  width: 100%;
  margin-bottom: 1em;
}

.no-underline {
  text-decoration: none;
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 2rem;
  margin-right: 1rem;
  display: inline-block;
  text-align: right;
  white-space: nowrap;
}

code .line:last-child:empty::before {
  content: none;
  counter-increment: none;
}

:root {
  --pagefind-ui-scale: 0.8;
  --pagefind-ui-primary: #034ad8;
  --pagefind-ui-fade: #27272a;
  --pagefind-ui-text: #27272a;
  --pagefind-ui-background: #fff7ed;
  --pagefind-ui-border: #f97316;
  --pagefind-ui-tag: #eeeeee;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font:
    system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto",
    "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

:root.dark {
  --pagefind-ui-scale: 0.8;
  --pagefind-ui-primary: #034ad8;
  --pagefind-ui-fade: #27272a;
  --pagefind-ui-text: #fafafa;
  --pagefind-ui-background: #27272a;
  --pagefind-ui-border: #3f3f46;
  --pagefind-ui-tag: #eeeeee;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font:
    system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto",
    "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}
