---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Body from "../components/Body.astro";
import { IoChevronForward } from "react-icons/io5";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const today = new Date();
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            body {
                overflow: hidden;
            }
            footer {
                text-align: left;
            }
        </style>
    </head>
    <Body>
        <Header className="bg-zinc-900 text-zinc-300" />
        <main class="pt-[65px]">
            <section class="relative h-screen flex items-center">
                <div class="absolute w-full h-full overflow-hidden">
                    <img
                        class="absolute left-1/2 top-1/2 min-w-full min-h-full object-cover -translate-x-1/2 -translate-y-1/2"
                        src="/masthead-homepage.jpg"
                        alt="Mathead Image"
                    />
                </div>
                <div
                    class="x-10 px-8 drop-shadow-lg shadow-black text-zinc-300"
                >
                        <section>
                            <h1 class="text-3xl text-center mt-12 mb-8">
                                Oops, pages not found.
                            </h1>
                            <div class="text-center py-4">
                                <a
                                    class="inline-flex items-center gap-1 underline underline-offset-2 decoration-orange-500"
                                    href="/"
                                >
                                    Back to home page.
                                    <IoChevronForward />
                                </a>
                            </div>
                        </section>
                        <footer>
                            &copy; {today.getFullYear()} MiohitoKiri5474. All rights
                            reserved.
                        </footer>
                </div>
            </section>
        </main>
    </Body>
</html>
