---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="MiohitoKiri5474 - About Me"
    description="Something About Me"
    pubDate={new Date("August 07 2024")}
>
    <img src="/avatar-pic.jpg" />
    <p>
        原高中資訊競賽選手，現任成大資工學生
曾任成大競技程式設計、程式設計二助教
魔法風雲會競技玩家，主要熱衷於各式構築賽
如果有需要聯絡的歡迎來信：lltzpp@gmail.com
    </p>
    <p>
        Was a competitive programmer in high school and is now a CSIE student at NCKU.
Served as Advanced Competitive Programming and Program Design(2) assistant at NCKU.
A Magic: the Gathering hardcore competitive player, mainly focus on Construct.
If you need to contact me, please send me a mail: lltzpp@gmail.com
    </p>
</Layout>
