---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Body from "../components/Body.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const today = new Date();
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            body {
                overflow: hidden;
            }
            footer {
                text-align: left;
            }
        </style>
    </head>
    <Body>
        <Header />
        <main class="pt-[56px]">
            <section class="relative h-screen flex items-center">
                <div class="absolute w-full h-full overflow-hidden">
                    <img
                        class="absolute left-1/2 top-1/2 min-w-full min-h-full object-cover -translate-x-1/2 -translate-y-1/2"
                        src="/masthead-homepage.jpg"
                        alt="Mathead Image"
                    />
                </div>
                <div
                    class="x-10 px-8 drop-shadow-lg shadow-black text-zinc-300"
                >
                    <div class="uppercase text-sm mb-4">Welcome to</div>
                    <div class="text-4xl font-medium">
                        <span class="text-red-500">MiohitoKiri5474's</span> Blog
                    </div>
                    <footer>
                        &copy; {today.getFullYear()} MiohitoKiri5474. All rights
                        reserved.
                    </footer>
                </div>
            </section>
        </main>
    </Body>
</html>
