---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { IoLogoGithub, IoSearchSharp } from "react-icons/io5";
import ThemeToggle from "./ThemeToggleButtom";
import DropdownMenu from "./HeaderHamburger.tsx";

const { className = "" } = Astro.props;
---

<header class={`fixed w-full p-2 z-20 backdrop-blur-md ${className}`}>
    <div class="mx-auto mx-w-3xl">
        <nav class="flex items-center gap-3 text-base">
            <div class="font-semibold tracking-tighter p-2 text-lg">
                <a href="/" class="no-underline">
                    {SITE_TITLE}
                </a>
            </div>
            <div class="items-center gap-6 hidden md:flex">
                <HeaderLink href="/">Home</HeaderLink>
                <HeaderLink href="/post">Posts</HeaderLink>
                <HeaderLink href="/about">About</HeaderLink>
                <HeaderLink href="/uses">Uses</HeaderLink>
                <HeaderLink href="/coffee-timer">Timer</HeaderLink>
                <HeaderLink href="https://github.com/MiohitoKiri5474">
                    <IoLogoGithub />Github
                </HeaderLink>
            </div>
            <div class="flex-1"></div>
            <HeaderLink href="/search" class="text-3xl">
                <IoSearchSharp />
            </HeaderLink>
            <ThemeToggle client:visible />
            <DropdownMenu client:visible />
        </nav>
    </div>
</header>
