---
const { heading } = Astro.props;
---

<style>
    li * {
        text-decoration: none;
        margin-top: 0em;
    }
    ul {
        list-style-type: none;
    }
    li {
        margin: 0;
        padding: 0;
    }

    .toc-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 0.25rem;
    }
    li {
        white-space: normal;
    }

</style>

<li>
    <a href={"#" + heading.slug} class="toc-container">
        <span>{heading.prefix} </span>{heading.text}
    </a>
    {
        heading.subheadings.length > 0 && (
            <ul>
                {heading.subheadings.map((subheading) => (
                    <Astro.self heading={subheading} />
                ))}
            </ul>
        )
    }
</li>
